name: Build and Deploy Code


on: [ push, pull_request ]

jobs:
  build:
    environment:
      name: testing
    env:
      DATABASE_NAME: ${{secrets.DATABASE_NAME}}
      DATABASE_USER: ${{secrets.DATABASE_USER}}
      DATABASE_PASS: ${{secrets.DATABASE_PASS}}
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: 12345
          POSTGRES_DB: ${{secrets.DATABASE_NAME}}
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    runs-on: ubuntu-latest
    steps:
      - name: pulling git repo
        uses: actions/checkout@v2
      - name: Install python version 3.9
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"
      - name: update pip
        run: python -m pip install --upgrade pip
      - name: install all dependencies
        run: pip install -r requirements.txt
      - name: test with pytest
        run: |
          pip install pytest
          pytest
  

  deploy:
    runs-on: ubuntu-latest
    needs: [ build ]
    environment:
      name: production
    steps:
      - name: pulling git repo
        uses: actions/checkout@v2
      - name: deploy to ubuntu server
        uses: appleboy/ssh-action@master
        with:
          host: ${{secrets.PROD_HOST}}
          username: ${{secrets.PROD_USERNAME}}
          key: ${{secrets.SSH_PRIVATE_KEY}}
          port: ${{ secrets.PORT }}
          script: |
            cd ../home/izzat/order_service
            git pull origin master
            source env/bin/activate
            python manage.py makemigrations
            python manage.py migrate
            systemctl restart order
